@charset "utf-8";
/* CSS Document */

html,
body {
	margin: 0;
	padding: 0;
	
}

body {
	font: normal 100%/1.5 sans-serif;
	background-color: #ccc;
	color: #555;
	
}

form,
.message {
	margin: 1em auto;
	padding: 2em;
	width: 34em;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
	
}

div {
	padding: 0 0 1em 0;
	
}

div:last-child {
	padding: 0;
	
}

label {
	display: block;
	padding: 0 0 0.1em 0;
	
}


label strong {
	color: #F00;
}
	
	
.message {
	text-align: center;
}